<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ site.author }}">
<META NAME="robots" CONTENT="noindex, nofollow">
<link rel="stylesheet" href="css/main.css">
<link rel="icon" href="img/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
